cors:
  originPatterns: http://localhost:8080,http://localhost:3000
file:
  upload-dir: /Users/jxvii/OneDrive/Documentos/apiUpload
spring:
  application:
    name: rest-api-with-spring-boot
  datasource:
    driver-class-name:  com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/teste_udemy?useTimezone=true&serverTimezone=UTC
    username: root
    password: admin123
  jpa:
    hibernate:
        ddl-auto: none
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB
logging:
  level:
    br.com.jovirds: DEBUG

spring-doc:
  paths-to-match: /**/**
  swagger-ui:
    use-root-path: true
